In [ ]:
even=[0,2,4,6,8]
for n in even:
  print(n)

In [ ]:
for n in even:
  print(n, end=" ")

In [ ]:
for n in even:
  print(n, end="    ")

In [ ]:
digits = [0,1,2,3,4,5,6,7,8,9]
for x in digits:
    print(x)

In [ ]:
x=1
while x<=30:
  print(x,end=" ")
  x=x+2

In [ ]:
range(3,4)

In [ ]:
list(range(3,4))

In [ ]:
list(range(1,34,3)) # using range pythin built in function a lists is created

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(1,89,5))

In [ ]:
range(3,7)

In [ ]:
list(range(3,7))

In [ ]:
list(range(1,20,2))

In [ ]:
list(range(1,10))

Use the range() function to create a list with all numbers from 1 to 10.

In [ ]:
list(range(1,11))

In [ ]:
list(range(20))

In [ ]:
list(range(0,31,2))

In [ ]:
range(10)

In [ ]:
for x in range(10):
  print(2**x,end=" ")

In [ ]:
for x in range(12):
  if x%2==0:
    print(x, "is even", end=" " )
  else:
    print(x ,"is odd" , end= " ")

In [ ]:
x=[0,1,2]
for item in x:
  print(item,end=" ")

In [ ]:
for item in range(len(x)):
  print(x[item],end=" ")

In [ ]:
c=list(range(1,11))
for item in c:
    item=item*2
    print(item)

In [ ]:
for x in range(1,31):
    if x%2==1:
        print(x,end=" ")
    else:
        print("Even",end=" ")

In [ ]:
for x in range(1,31):
    if x % 2 == 1:
        print (x, end = " ")
    else:
        print ("Even", end = " ")

In [ ]:
n = [1,2,3,4,5,6]
for x in n:
    print(x*10,end=" ")

for x in range(1,7):
    print(x*10,end=" ")

In [ ]:
n = [1,2,3,4,5,6]

for item in n:
    print (item * 10, end = " ")

for item in range(len(n)):
    print (n[item] * 10, end = " ")

In [ ]:
def count(numbers):
  total=0
  for x in numbers:
    if x<20:
      total=total+1
  return total # loop ke bahar hona chahie

In [ ]:
list_1=[1,3,7,15,23,43,56,98]
print(count(list_1))

4

In [ ]:
nums = [1,35,12,24,31,51,70,100]
def count(numbers):
    total=0
    for x in numbers:
        if x<20:
            total=total+1
    return total

print(count(nums))

2